.game {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(0deg, #1a191a,#263b42);background: linear-gradient(0deg, #1a191a,#263b42);
    .sandbox {
        position: relative;
        width: 50vw;
        height: 40vh;
        .sandbox_words {
            font-size: $text_normal;
            color: gray;
            display: flex;
            flex-wrap: wrap;
            pointer-events: none;
            .sandbox_word { 
                display: flex; 
                
            }
        }
        .sandbox_input {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 30vw;
            height: 10vh;
        }
    }
}

/* ========= Стили для введённых символов во время игры ========= */
.correct { color: green !important; }
.incorrect { color: red !important; }
.correct_space { 
    width: $text_normal; 
    height: $text_normal; 
    position: relative;
}
.correct_space::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: green !important; 
}

.incorrect_space { 
    width: $text_normal; 
    height: $text_normal; 
    position: relative;
}
.incorrect_space::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 70%;
    height: 2px;
    background: red !important; 
}
.activeLetter {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $orange;
        transition: .2s;
        animation: Cursor .1s linear;
    }
}

/* ========= Окно результатов, после завершения попытки ========= */
.results {
    display: none;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .results_block {
        display: flex !important;
        justify-content: center;
        height: 100%;
        .results_block_content {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            row-gap: 1vw;
            padding: 3vw 2vw;
            color: white;
            @media (max-width: 1200px) {
                padding: 0;
            }
            h2 {
                text-align: center;
                font-size: $labels_big;
                text-align: start;
                @media (max-width: 1200px) {
                    font-size: $labels_medium;
                }
                @media (max-width: 1000px) {
                    font-size: $labels_big;
                }
                @media (max-width: 700px) {
                    font-size: $labels_medium;
                }
                @media (max-width: 430px) {
                    font-size: $labels_normal;
                }
            }
            .results_line {
                width: auto;
                height: 1px;
                background: white;
                opacity: .6;
                margin-bottom: 10px;
            }
            .results_row {
                width: auto;
                display: flex;
                column-gap: 2vw;
                &:last-child {
                    justify-content: space-around;
                }
                @media (max-width: 570px) {
                    flex-direction: column;
                    &:last-child {
                        flex-direction: row;
                    }
                }
                .results_column {
                    display: flex;
                    flex-direction: column;
                    h3 {
                        color: white;
                        opacity: .6;
                    }
                    span {
                        font-size: $labels_big;
                        color: $orange;
                        @media (max-width: 1200px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 1000px) {
                            font-size: $labels_big;
                        }
                        @media (max-width: 700px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 430px) {
                            font-size: $labels_normal;
                        }
                    }
                }
                .results_changes {
                    display: flex;
                    align-items: end;
                    span {
                        font-size: $labels_big;
                        @media (max-width: 1200px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 1000px) {
                            font-size: $labels_big;
                        }
                        @media (max-width: 700px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 430px) {
                            font-size: $labels_normal;
                        }
                    }
                    svg {
                        width: auto;
                        height: calc($labels_big + 10px);
                        @media (max-width: 1200px) {
                            height: calc($labels_medium + 10px);
                        }
                        @media (max-width: 1000px) {
                            height: calc($labels_big + 10px);
                        }
                        @media (max-width: 700px) {
                            height: calc($labels_medium + 10px);
                        }
                        @media (max-width: 430px) {
                            height: calc($labels_normal + 10px);
                        }
                    }
                }
                
            }
        }
        
    }
    .diagram_block {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}


/* ========= Элементы диаграммы ========= */

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: $orange;
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Create a dashed line with a pattern */
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
    /* Colour of your points */
    stroke: $orange;
    /* Size of your points */
    stroke-width: 10px;
    /* Make your points appear as squares */
}
.ct-series-a .ct-area {
    fill: $orange_light;
}
.ct-label {
    color: white;
    letter-spacing: 1px;
    font-family: 'RML';
}
.ct-chart {
    height: 50vh;
    @media (max-width: 1200px) {
        height: 40vh;
    }
}