.game {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    background: $black;
    .sandbox {
        position: relative;
        max-width: 80vw;
        min-width: 50vw;
        height: 40vh;
        overflow: hidden;
        .sandbox_words {
            font-size: $labels_medium;
            color: gray;
            display: flex;
            flex-wrap: wrap;
            pointer-events: none;
            .sandbox_word { 
                display: flex; 
                
            }
        }
        .sandbox_input {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 30vw;
            height: 10vh;
        }
    }
}

.modalGame_wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.44);
    visibility: visible;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    .modalGame {
        width: 80vw;
        height: 70vh;
        background: $black;
        position: relative;
        display: flex;
        padding-left: 2vw;
        row-gap: 2vh;
        border-radius: 20px;
        .modalGame_close {
            position: absolute;
            top: -30px;
            right: -30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }
        .modalGame_item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: 2vh;
            border-right: 1px solid rgba(255, 255, 255, 0.7);
            cursor: pointer;
            
            &:last-of-type {
                border-right: none;
            }
            &:hover {
                background: $black_light;
                .modalGame_item_letters, .modalGame_item_svg { opacity: 1; }
            }

            .modalGame_item_letters {
                font-size: 180px;
                color: $pink;
                letter-spacing: 5px;
                margin-bottom: 10vh;
                opacity: .6;

            }
            .modalGame_item_svg {
                width: 50%;
                margin-bottom: 10vh;
                opacity: .6;
            }

            h2 {
                font-size: $labels_normal;
                color: rgba(255, 255, 255, 0.6);
                span {
                    color: $blue;
                }
            }
            input[type='file'] {
                visibility: hidden;
                color: transparent;
              }
            input {
                width: 70%;
                height: calc($text_normal + 30px);
                background: none;
                border: none;
                border-bottom: 2px solid rgba(255, 255, 255, 0.714);
                font-size: $text_normal;
                color: $blue;
                outline: none;
                font-family: 'RML', sans-serif;
                margin-top: -5px;
                text-align: center;
                &::placeholder {
                    color: $blue;
                    opacity: .7;
                }
                @media (max-width: 700px) {
                  height: 2vh;
                }
            }
            .button_play {
                visibility: hidden;
                pointer-events: none;
                margin-top: 2vh;
            }
        }
    }
}

/* ========= Стили для введённых символов во время игры ========= */
.correct { color: green !important; }
.incorrect { color: red !important; }
.correct_space { 
    width: $text_normal; 
    height: $labels_medium; 
    position: relative;
}
.correct_space::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: green !important; 
}

.incorrect_space { 
    width: $text_normal; 
    height: $text_normal; 
    position: relative;
}
.incorrect_space::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 70%;
    height: 2px;
    background: red !important; 
}
.activeLetter {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $orange;
        transition: .2s;
        animation: Cursor .1s linear;
    }
}

/* ========= Окно результатов, после завершения попытки ========= */
.results {
    display: none;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .results_block {
        display: flex !important;
        justify-content: center;
        height: 100%;
        .results_block_content {
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            row-gap: 1vw;
            padding: 3vw 2vw;
            color: white;
            @media (max-width: 1200px) {
                padding: 0;
            }
            h2 {
                font-size: $labels_big;
                text-align: start;
                @media (max-width: 1200px) {
                    font-size: $labels_medium;
                }
                @media (max-width: 1000px) {
                    font-size: $labels_big;
                }
                @media (max-width: 700px) {
                    font-size: $labels_medium;
                }
                @media (max-width: 430px) {
                    font-size: $labels_normal;
                }
            }
            .results_line {
                width: auto;
                height: 1px;
                background: white;
                opacity: .6;
                margin-bottom: 10px;
            }
            .results_row {
                width: auto;
                display: flex;
                column-gap: 2vw;
                &:last-child {
                    justify-content: space-around;
                }
                @media (max-width: 570px) {
                    flex-direction: column;
                    &:last-child {
                        flex-direction: row;
                    }
                }
                .results_column {
                    display: flex;
                    flex-direction: column;
                    h3 {
                        color: white;
                        opacity: .6;
                    }
                    span {
                        font-size: $labels_big;
                        color: $orange;
                        @media (max-width: 1200px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 1000px) {
                            font-size: $labels_big;
                        }
                        @media (max-width: 700px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 430px) {
                            font-size: $labels_normal;
                        }
                    }
                }
                .results_changes {
                    display: flex;
                    align-items: end;
                    span {
                        font-size: $labels_big;
                        @media (max-width: 1200px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 1000px) {
                            font-size: $labels_big;
                        }
                        @media (max-width: 700px) {
                            font-size: $labels_medium;
                        }
                        @media (max-width: 430px) {
                            font-size: $labels_normal;
                        }
                    }
                    svg {
                        width: auto;
                        height: calc($labels_big + 10px);
                        @media (max-width: 1200px) {
                            height: calc($labels_medium + 10px);
                        }
                        @media (max-width: 1000px) {
                            height: calc($labels_big + 10px);
                        }
                        @media (max-width: 700px) {
                            height: calc($labels_medium + 10px);
                        }
                        @media (max-width: 430px) {
                            height: calc($labels_normal + 10px);
                        }
                    }
                }
                
            }
        }
        
    }
    .diagram_block {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        .diagram_block_switch {
            display: flex;
            column-gap: 2vw;
            margin-top: 2vh;
            align-self: flex-start;
            margin-left: 2vw;
            svg {
                height: 4vw;
                width: auto;
                padding: 10px;
                border-radius: 15px;
                cursor: pointer;
                g path { fill: $cyan_light; }
            }
            .svg_active {
                background: $cyan_light;
            }
        }
    }
}


/* ========= Элементы диаграммы ========= */

.ct-series-a .ct-line {
    stroke: $orange;
    stroke-width: 5px;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
    stroke: $orange;
    stroke-width: 10px;
}
.ct-series-a .ct-area {
    fill: $orange_light;
}
.ct-label {
    color: white;
    letter-spacing: 1px;
    font-family: 'RML', sans-serif;
}
.ct-chart {
    height: 50vh;
    @media (max-width: 1200px) {
        height: 40vh;
    }
}