@import './keyframes';
.stats {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 7vw;
    padding-right: 2vw;
    row-gap: 3vh;
    background: $black;
    .stats_menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 6vw;
        background: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 4vh 0;
        .stats_menu_img {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2vh;
            img {
                width: 70%;
                height: auto;
                border-radius: 50%;
            }   
            span {
                font-size: $labels_small;
                letter-spacing: 1px;
                color: $cyan;
                word-wrap: break-word;
            }
        }
        
        .stats_menu_icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 5vh;
            .stats_menu_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1vh;
                padding: 5px;
                cursor: pointer;
                svg {
                    width: 2vw;
                    height: 2vw;
                    stroke: #707070;
                }
                span {
                    font-size: 13px;
                    letter-spacing: 1px;
                    color: #707070;
                }
                .stats_menu_item_active {
                    color: $cyan !important;
                    stroke: $cyan !important;
                }
            }
        }
        .stats_menu_lang {
            width: 3vw;
            height: 3vw;
            overflow: hidden;
            svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .stats_title {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        padding-left: 2vw;
        background: $black;
        padding-top: 5vh;
        h1 {
            font-size: $labels_medium;
            color: white;
            letter-spacing: 1.5px;
        }
    }
    .stats_content {
        display: flex;
        flex-direction: column;
        border-radius: 60px;
        padding: 2vw;
        row-gap: 2vw;
        .stats_content_panels {
            width: 100%;
            display: flex;
            height: 23vw;
            column-gap: 2vw;
            margin: auto;
            background: $black_light;
            padding: 4vh 2vw;
            border-radius: 40px;
            .stats_content_panel {
                height: 100%;
                width: 20vw;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 2vh;
                position: relative;
                border-radius: 10%;
                &:nth-child(1) {
                    background: #abd5e9;
                }
                &:nth-child(2) {
                    background: #a6c0f1;
                }
                &:nth-child(3) {
                    background: #c6a5f1;
                }
                &:nth-child(4) {
                    background: $pink;
                }
                svg {
                    width: 4vw;
                    height: 4vw;
                    position: absolute;
                    top: 4vh;
                    left: 4vh;
                }
                h2 {
                    color: $black;
                    font-size: $labels_okay;
                    letter-spacing: 1.5px;
                    span {
                        font-size: $labels_normal;
                    }
                }
                span {
                    color: $black;
                    font-size: $labels_small;
                    letter-spacing: 1px;
                    opacity: .7;
                }
            }
        }
        .stats_content_label {
            font-size: $labels_normal;
            color: white;
            letter-spacing: 1.5px;
            margin-top: 6vh;
            span {
                color: $cyan;
            }
        }
    }
    .stats_row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 2vw;
        .stats_bar, .average_stats, .stats_all {
            display: flex;
            flex-direction: column;
            width: 50%;
            row-gap: 15px;
            padding: 2vw 1vw;
            background: $black_light;
            border-radius: 40px;
            h2 {
                font-size: $labels_normal;
                color: white;
                opacity: .6;
                text-align: center;
            }
            .average_stats_row {
                display: flex;
                .average_stats_switch {
                    width: 10%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1vw;
                    svg {
                        width: 100%;
                        height:auto;
                        background: none;
                        padding: 10px;
                        border-radius: 15px;
                        g path { fill: $cyan_light; }
                    }
                    .svg_active {
                        background: $cyan_light;
                    }
                }
                .ct-series-a .ct-line {
                    stroke: $purple;
                    stroke-width: 5px;
                }
    
                .ct-series-a .ct-point {
                    stroke: $purple;
                    stroke-width: 10px;
                }
                .ct-series-a .ct-area {
                    fill: $purple_light;
                }
            }
            .stats_all_rows .stats_all_row {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                column-gap: 1vw;
                align-items: center;
                padding: 2vh 3vh;
                margin-bottom: 1vw;
                &:first-of-type { margin-bottom: 0vh; }
                h3, span, div span {
                    font-size: $labels_small;
                    color: white;
                    letter-spacing: 1px;
                    text-align: center;
                }
                h3 { 
                    font-size: $labels_normal; 
                    font-weight: 600; 
                    font-family: 'RML', sans-serif;
                    color: $cyan; 
                }
            }
        }
        .stats_all {
            align-items: center;
            overflow-y: auto;
            height: 73vh;
            -ms-overflow-style: none; /* Скрытие полосы прокрутки в IE */
            scrollbar-width: none; /* Скрытие полосы прокрутки в Firefox */
            &::-webkit-scrollbar { /* Скрытие полосы прокрутки в Chrome, Safari */
                display: none;
            }
            .stats_all_rows .stats_all_row h3 { color: $purple; }
            .stats_showAll {
                font-size: $labels_small; 
                font-weight: 600; 
                font-family: 'RML', sans-serif;
                color: $purple_light; 
                cursor: pointer;
            }
        }
    }
    
    .stats_top {
        display: flex;
        flex-direction: column;
        width: auto;
        row-gap: 15px;
        padding: 2vw 0;
        background: $black_light;
        border-radius: 40px;
        h2 {
            font-size: $labels_normal;
            color: white;
            opacity: .6;
            text-align: center;
        }
        .stats_top_row {
            height: 14vh;
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
            column-gap: 1vw;
            align-items: center;
            padding: 2vh 3vh;
            margin-bottom: 1vw;
            &:first-of-type { margin-bottom: 0vh; }
            div {
                display: flex; 
                align-items: center;
                column-gap: 2vw;
            }
            h3, span, div span {
                font-size: $labels_small;
                color: $cyan;
                letter-spacing: 1px;
                text-align: center;
            }
            h3 { font-size: $labels_normal; }
            span, div span { color: white; font-family: 'RML', sans-serif; }
            div img {
                width: auto;
                height: 10vh;
                border-radius: 50%;
            }
        }
        .stats_top_row_active {
            background: $cyan_light;
            h3, span, div span {
                font-size: $labels_normal;
                font-weight: 800;
            }
        }
    }
    .lobby_footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ct-chart-bar {
    width: 100% !important;
}

.ct-bar {
    stroke: $cyan !important;
    /* Control the thikness of your lines */
    stroke-width: 30px;
    opacity: .7;
    cursor: pointer;
    &:last-child {
        opacity: 1;
    }
}
.ct-bar:hover {
    opacity: 1;
}